body{
  background-color:whitesmoke;
}
.stars{
  color: red !important;
  font-size:25px;
}
.fa-star{
color: orange !important;;
}
table,thead,tr,td{
padding-left:30px;
margin:10px;
text-align: center;
}
table,th{
padding-left:40px;
}
.form-control{
width:30%;
}